body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 19px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #be7b90;
}

#console {
  position: absolute;
  width: 300px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 20px;
}

.session1 {
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 105%;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(
    to right,
    #ffcd6d,
    #ffa87b,
    #e98d8a,
    #be7b90,
    #8e6d87,
    #7a7299,
    #5779a3,
    #21819f,
    #00858c
  );
  margin-bottom: 5px;
}

.label {
  width: 9.3%;
  display: inline-block;
  text-align: center;
}

h3 {
  border-top: 15px black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Style for the pop-up*/
.my-popup .mapboxgl-popup-content {
  width: 300px;
  background: rgba(250, 250, 250, 0.6);
  border-top: 50px;
  padding: 20px;
  color: rgba(85, 85, 85);
}

/*Style for the chart*/
#chartdiv {
  position: absolute;
  left: 0;
  top: 370px;
  width: 365px;
  height: 300px;
}